<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="logo.png" alt="Your Logo">
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/events">Information</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com/dipu.yadav5253?igshid=YTQwZjQ0NmI0OA==" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <p>&copy; 2023 Parul Event Management System</p>
</footer>
