<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <title>Event Management System</title>
</head>
 
<body>
    {% include "header.html" %}
    <div class="home-container">
         <div class="h-text">
            <h1>Welcome to Our Inter-Linked Platform</h1>
        <p>For institutions and corporate fields</p>
         </div>
    </div>
    <div class="foot">
        {% include "footer.html" %}
    </div>
     
</body>
</html>